<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RushMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB05F7441F894A910090DEC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB05F75A1F894A910090DEC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB05F7651F894A910090DEC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB61D1FF1F92B6CE009872DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB61D2221F92B6F4009872DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
